.sign_in_header_img {
    width: 100%;
    height: auto;
}

.sign_in_content {
    margin-top: 1.2rem;
    padding: 0 .566666rem;
    margin-bottom: 1.5rem;
}

.fish_img_container {
    display: flex;
}

.fish_img {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}

.input_content {
    margin-top: .3rem;
}

.login_container {
    margin-top: .66666rem;
}

.msg_content {
    color: #DD1A21;
    margin-top: .3rem;
    font-size: .43333rem;
    padding: 0 .36rem;
}