.Not_Found_Content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Four_O_Four {
    display: flex;
    font-size: 1.8rem;
    color: #cc4333;
    text-shadow: #8e6262 0.1rem 0.1rem 0.08rem;
}

.back_to_home {
    font-size: .6rem;
    margin-top: .2rem;
}