.icon_container {
  display: inline-block;
  width: 16%;
  margin: 0 2% 0 2%;
}

.icon_content {
  padding: 50%;
  position: relative;
}

.icon_ojbect {
  position: absolute;
  top: 0;
  left: 0;
}

.icon_span {
  font-size: 1.4rem;
}

.bar_container {
  background: white;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
}
