.icon_container {
  display: inline-block;
  text-align: center;
}

.icon_ojbect {
  position: absolute;
  top: 0;
  left: 0;
}

.icon_span {
  font-size: .20rem;
}

.bar_container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: moz-flex;
  justify-content: space-around;
  align-items: center;
}

.svg_content {
  width: 100%;
  height: 100%;
}